.message-container{
	 padding:10px;
	 margin:2px;
	 display:none;
	 background: rgba(128, 128, 128, 0.33);
	 border: 1px solid #0A0A0C;
}
.frm-border{
		border-style: solid;
    	border-width: 1px;
    	padding-left: 100px;
    	padding-left: 50px;
    	margin-left: 40px;
	}
.div-map{
	margin-top: 20px;
}


