.aui select{
	height:50px;
	border: 1px solid #070000;
}
.layout{
	padding-top: 50px;
    padding-left: 130px;
}
.btn:first-child {
    height: 50px;
}
.title-home{
	text-align: center;
	font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-left: 169px;
}
.hm-div{
	padding-top: 20px;
   	padding-left: 130px;
}
.title-sub{
	font-size: 15px;
	font-weight: bold;
	padding-left: 320px;
	color: #fff;
}