.lab-img{
	display: block; 
	max-width: 100%; 
	width:150px;
	height:30px;
	border: 1px solid rgb(230, 230, 237);
}
.lab-section{
    align-content: center;
    align-items: stretch;
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    color: #414146;
    box-shadow: 0 1px 3px 0 #333;
    height: 200px;
}
.lab-name{
	font-size: 18px;
	display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lab-details{
	padding-left:50px;
}