.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    background-color: #f4f4f4;
    border-bottom: 2px solid #555555;
}
.collapsible-header2{
	display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    background-color: #dfdfdf;
    border-bottom: 2px solid #555555;
	
}
.collapsible.popout {
   	border: 0;
   	box-shadow: none;
}
.collapsible-body {
    display: none;
    border-bottom: 2px solid #555;
    box-sizing: border-box;
    padding: 3rem;
}
.icon-hand-right{
	padding-left:20px;
}
