/* .blog-title{
	color: #c3cec3; 
 	font-family:arial; 
 	padding-left:5%;
}
.span-tag{
	color: #346534; 
 	font-family:cursive; 
 	padding-left:15px;
}
.blogs-dec a:hover{
	text-decoration:none;
	background-color: #FFF;
	color: rgb(0, 88, 255);
}
.blog-body li{
	display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    background-color: #f4f4f4;
    border-bottom: 2px solid #555555;
}
 */
.feature {
    display: block;
    width: 100%;
    margin: 0;
}
.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
   /*  border-bottom: 1px solid #CCCCCC; */
       padding-left:20px;
   }
   .img-lab{
   	width:50px;
   	height:50px;
   }
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    border: 0px;
    /* background-color: rgba(86,61,124,0.15); */
 /* border: 1px solid rgba(86,61,124,0.2); */
}

