/**
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 */
@import "compass";
@import "mixins";

$colorBackground: #F5F5F5;

.aui .color-scheme-default {
	padding: 0;
	background: $colorBackground;

	#header-wrapper {
		background-image: url(../images/bg_t.png);
		height: 367px;
		/* background-color: #555555; */
		position: relative;
	}

	#wrapper {
		margin-top: -256px;
	}

	#wrapper, #banner {
		padding-left: 20px;
		padding-right: 20px;
	    max-width: 1080px;
	    min-width: 280px;
	}

	#banner {
		height: 111px;
		box-sizing: border-box;
		display: table;
    	width: 100%;

		#heading {
			display: table-cell;
    		white-space: nowrap;
			vertical-align: middle;
		}
	}

	#main-content > .portlet,
	#main-content > .portlet-layout,
	#content .breadcrumb {
	    background: #FFF;
	    margin-bottom: 18px;
	    @include box-shadow(0 0 3px #999);
	    @include border-radius(4px);
	}

	#main-content {
		.portlet-layout {
			position: relative;
			min-height: 500px;
		}

		.portlet-column {
			margin-bottom: 12px;
			margin-top: 12px;
			min-height: 220px;
			padding-left: 20px;
		}

		.portlet-column:before {
			border-left: 1px solid #EEEEEE;
			bottom: 12px;
			content: "";
			position: absolute;
			top: 12px;
			margin-left: -20px;
		}

		.portlet-column-first:before,
		.portlet-column-only:before {
			border: none;
		}

		.portlet-column-last,
		.portlet-column-only {
			padding-right: 20px;
		}

		.portlet-borderless {
			padding: 12px;
		}
	}

	#navigation {
		display: table-cell;
		vertical-align: middle;

		.navbar-inner {
			margin-left: 20px;
			min-height: 0;

			> .nav-collapse, .nav-helpers {
				float: right;
			}
		}
	}
	
	#sitesearch {
		.site-search-button {
			background-color: #6A6A6A;
			color: #BBBBBB;
		}
	}

	#content {
		min-height: 70%;
	}

	.portlet-dockbar {
		.dockbar {
			display: none;

			&.toggler-content-expanded {
				display: block;
			}
		}
	}

	@include respond-to(desktop) {
		#sitesearch {
			&.site-search-collapsed {
				.site-search-form {
					width: 0;
				}

				.site-search-button {
					background: none;
				}

				.site-search-button:hover {
					background: #6A6A6A;
				}
			}

			.site-search-button {
				background: #6A6A6A;
				color: #BBBBBB;
			}

			.site-search-button:hover {
				background-color: #FFFFFF;
			}

			.site-search-field {
				float: right;
			}

			.site-search-form {
				margin-right: -6px;
				position: absolute;
				right: 100%;
				top: 0;
				width: 160px;
			}
		}
	}
}