/**
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 */
@import "compass";
@import "mixins";

@import url(custom_default.css);
@import url(custom_dashboard.css);
@import url(custom_responsive.css);
@import url(custom_extras.css);

$colorBackgroundBody: #6fabcd;
$colorHeading: #5E60B2;
$colorHighlightWarn: #953537;
$colorHighlightInfo: #5CB260;

$colorHudCrumbBackground: #000;
$colorHudCrumbText: #FFF;

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/opensans/OpenSans-Regular.eot');
    src: local('Open Sans'),
		 local('OpenSans'),
    	 url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/opensans/OpenSans-Light.eot');
    src: local('Open Sans Light'),
		 local('OpenSans-Light'),
    	 url('../fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
}

/* ---------- Base styles ---------- */

#p_p_id_Home_WAR_Epathologyportlet_{
	background: url('../images/home.png') no-repeat;
	height: 300px;
    width: 1042px;
    margin-bottom: 1px;
    background-color:none;
}
#p_p_id_SuperAdmin_WAR_Epathologyportlet_ {
	background-color: #fff;
    border-style: ridge;
    border-color: #efefef;
    padding: 3px;
}
#p_p_id_SuperAdmin_WAR_Epathologyportlet_{
    border-style: ridge;
    border-color: #efefef;
    margin: 0;
    padding: 3px;
}
#p_p_id_SuperAdmin_WAR_Epathologyportlet_ .portlet-borderless-container {
    padding: 50px;
}
#p_p_id_Patient_WAR_Epathologyportlet_ {
	border-style: ridge;
    border-color: #efefef;
    padding: 10px;
    background-color: #fff;
}
#p_p_id_Profile_WAR_Epathologyportlet_ {
	border-style: ridge;
    border-color: #efefef;
    padding: 10px;
    background-color: #fff;
}
#p_p_id_58_ {
   	padding: 10px;
    background-color: #fff;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 125px;
}
#p_p_id_Blog_WAR_Epathologyportlet_INSTANCE_Z7rkNYdXAshz_ {
    padding: 5px;
    background-color: #fff;
}
#p_p_id_BlogTag_WAR_Epathologyportlet_INSTANCE_Kk15EZurPeRn_ {
    padding: 5px;
    background-color: #fff;
}
#p_p_id_faq_WAR_Epathologyportlet_ {
    padding: 10px;
    background-color: #fff;		
}
#p_p_id_ContactUs_WAR_Epathologyportlet_ {
	padding: 10px;
    background-color: #fff;		
}
#p_p_id_LabAdmin_WAR_Epathologyportlet_ {
	border-style: ridge;
    border-color: #efefef;
    padding: 5px;
    background-color: #fff;
}
#p_p_id_Doctor_WAR_Epathologyportlet_ {
	border-style: ridge;
    border-color: #efefef;
    padding: 5px;
    background-color: #fff;
}
#p_p_id_33_ {
	border-style: ridge;
    border-color: #efefef;
    padding: 5px;
    background-color: #fff;
}
#p_p_id_56_INSTANCE_hoqu3fS83U1K_{
	padding: 5px;
    background-color: #fff;
}
#p_p_id_56_INSTANCE_OcuDgmqmmMPL_{
	padding: 5px;
    background-color: #fff;
}
#p_p_id_56_INSTANCE_BfovoNHIInuP_ {
	padding: 5px;
    background-color: #fff;
}
#p_p_id_Search_WAR_Epathologyportlet_ {
	padding: 5px;
    background-color: #fff;
}
#p_p_id_Patient_WAR_Epathologyportlet_{
	border-style: ridge;
    border-color: #efefef;
    padding: 10px;
    background-color: #fff;
}
/* -------our service web content -------*/

#p_p_id_56_INSTANCE_7KsQ3SCwgNBV_ {
	color:#894d67;
	div.gallery { 
		margin:20px;
		margin-right: 5px;
		float: left;
		width: 135px;
		display: block;
		padding: 20px;
		text-align: center;
	}

	div.gallery img {
		width: 100%;
		height: auto;
	}

	div.desc h4 {
		text-align: center;
		font-size: 15px;
	}

}

/*--------- gallery web content--------- */

#p_p_id_56_INSTANCE_fsqRbZPLw1M0_ {
		div.img-gallery {
    		margin: 25px;
    		margin-right: 5px;
    		float: left;
    		width: 250px;
   			display : block;
   			padding: 30px;
		}
		div.img-gallery img {
   		 	width: 100%;
    		height: auto;
		}
		div.desc {
    		text-align: center;
		}
}

/* --------- web content steps for book test --------- */

  #p_p_id_56_INSTANCE_472nx41BrXbv_ {
	.how-itworks { 
		text-align:center;
	}
	.how-itworks ul { 
		padding:0px;
		list-style:none;
		display: inline-block;
	}
	.how-itworks li { 
		padding:10px 10px 0;
		list-style:none;   
		display: inline-block; 
		text-align:center;
		width:20%; 
		position:relative;
	}
	.how-itworks li .round { 
		width:120px; 
		line-height: 120px; 
		height:120px; 
		margin-bottom:15px; 
		background:#007c9d; 
		border-radius:50%; 
		-moz-border-radius:50%; 
		-webkit-border-radius:50%; 
		display:inline-block;
	}
	.how-itworks li .step{ 
	 	background:url('/documents/25722/67810/step/9b6bf4a7-b404-41b9-bf01-dbb941ef6410?t=1495152487357') no-repeat;
	  	height:25px; 
	  	width:100px; 
	  	position:absolute; 
	  	right:-61px; 
	  	top:20%; 
	  	position:absolute;
	}
	.how-itworks li:last-child .step {
		display:none;
	 }
	.hidden {
		opacity: 0;
	}
	.visible {
		opacity: 1;
	}
	.animated.flip {
		-webkit-backface-visibility:visible;
		-ms-backface-visibility:visible;
		backface-visibility:visible;
		-webkit-animation-name:flip;
		animation-name:flip;
	}
	@-webkit-keyframes fadeInRight{0%{
	 	opacity:0;
	 	-webkit-transform:translateX(20px);
	 	transform:translateX(20px);
	}100%{
		opacity:1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
		}
	}
	@keyframes fadeInRight{0%
		{
			opacity:0;
			-webkit-transform:translateX(20px);
			-ms-transform:translateX(20px);
			transform:translateX(20px);
		}
		100% { 
			opacity:1;
			-webkit-transform:translateX(0);
			-ms-transform:translateX(0);
			transform:translateX(0);
		}
	}
	.fadeInRight {
		-webkit-animation-name:fadeInRight;
		animation-name:fadeInRight;
	}
	.block-grey {
		 padding:30px 0px; 
		 width:90%; 
		 text-align:center; 
		 clear:both; 
		 background:#f8f8f8; 
		 border-bottom:1px solid #e5e5e5; 
		 border-top:1px solid #e5e5e5;
	}
}
/* -------client speaks web content  --------- */
#p_p_id_56_INSTANCE_SngdVkj4ZOIc_ {
	.card{
        float : left;
        display:block;
        width: 250px;
        height: 180px;
        background-color: #f9cadd;
        box-shadow: 10px 10px 5px #d3c6cc;
        padding:25px;
        margin: 20px;
        border-radius: 30px;
     }
		.card-block {
      		display: inline;
      		float : left;
	}
	.quotes{
      	font-size: 40px;
	}
	.end{
     	float : right;
	}
	h2{
   		text-align: center;
  		color :#894d67;
	}
}
.aui img {
  width: auto;
}
.log-div{
	width:380px;
	background-color: #069;
	background: url('../images/login_sidimg.jpg')	no-repeat;
	background-size: cover;
	margin-left: 20px;
	
}

.aui .container, .aui .navbar-static-top .container, .aui .navbar-fixed-top .container, .aui .navbar-fixed-bottom .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.aui .color-scheme-default #main-content .portlet-borderless {
    padding: 0px;
}
.copyright-text{
    color: #fff !important;
    padding-right: 630px;
}
.portlet-login .navigation {
    background: rgba(248, 248, 248, 0.45);
    border-top: 1px solid #854a63;;
}
.aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input {
    background-color: rgba(187, 187, 187, 0.1);
    border: 1px solid #070000;
}
.aui .accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    background-color: #b18d9d;
    color: white;
}
.aui .btn-primary {
	background-image: linear-gradient(to bottom,#9c617a,#460a24);
	background-color: #894d67;
}
.aui .btn-primary:hover, .aui .btn-primary:focus, .aui .btn-primary:active, .aui .btn-primary.active, .aui .btn-primary.disabled, .aui .btn-primary[disabled] {
    background-color: #4b0f29;
}
.aui .accordion-inner {
    padding: 9px 15px;
    border: 1px solid #b18d9d;
}
.aui select {
   border: 1px solid #070000;
   background-color: rgba(187, 187, 187, 0.1);
}
.portlet-title {
	font-size: required_font_size;
	display: none;
}
.aui .nav-tabs>.active>a, .aui .nav-tabs>.active>a:hover, .aui .nav-tabs>.active>a:focus {
    color: white;
    border: 1px solid #0b0a0b;
    cursor: default;
    background-color: #9c617a;
}
.aui .nav-tabs {
   border-bottom: 1px solid #9c617a;
}
.aui .nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #460a24;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.aui {
	height: 100%;

	.portal-normal {
		min-height: 100%;
		/* background: $colorBackgroundBody; */
		/* background: url('../images/bghome-wrapper.png')	no-repeat; */
		background: #f8f8f8 url(../images/bgdot.png) repeat fixed top left;
		font-family: 'Open Sans';
		font-weight: 400;
	}

	a {
		&:hover {
			color: $colorHighlightWarn;
		}
	}

	h2 {
		font-size: 2.2em;
	}

	#wrapper {
		height: 100%;
	    padding: 0;
    	margin: auto;
    	position: relative;
	}

	#banner {
		margin: auto;
		overflow-y: auto;

		.site-title {
			margin: 0;
			font-weight: 300;
			font-size: 34px;
			
			> a:hover, > a:focus {
				text-decoration: none;
			}
			
			.logo > span {
				vertical-align: middle;
			}

			.site-name {
				color: #CCCCCC;
				font-size: 1.5em;
				margin-left: -0.1em;
			}
			
			.site-header-icon {
				text-shadow: 0 1px 0 #BBB;
			}
		}
	}

	#subbanner {
		font-size: 2.7em;
		font-weight: 300;
		line-height: 1.6em;
		margin-top: 5px;
		text-align: center;
		vertical-align: middle;
		text-shadow: 0 0 3px #bbb;

		.nav-banner-toggle {
			display: none;
		}
	}

	#navigation {
		.navbar-inner {
			background: none;
			border: none;
			padding: 0;
			@include box-shadow(none);
		}

		.nav {
			margin: 0;

			> li {
				border: 1px solid #888;
				border-width: 0 0 0 1px;
				margin: 0;
				padding: 0 6px;

				&:first-child {
					border-width: 0 !important;

					&.lfr-nav-item > a:before {
					    content: "\f015";
					    font-family: 'fontawesome-alloy';
					}
				}

				&.open {
					> a {
						color: #888;
						background-color: #EEE;
					}
				}

				> a {
					background: none;
					color: #BBB;
					font-weight: 300;
					text-transform: uppercase;
					padding: 8px 12px;
					margin: 0;
					@include text-shadow(none);
					@include border-radius(0);

					&:hover, &.focus {
						color: #888;
						background-color: #EEE;
					}
				}

				.drag-handle {
					display: none;
				}
			}

			.active {
				> a {
					color: #EEE;
    				box-shadow: none;
				}
			}

			.dropdown-menu {
				background-color: #EEE;
				border-width: 0;
				margin: 0;
				left: 6px;
				@include border-radius(0);

				&:after, &:before {
					border-width: 0;
				}

				> li {
					> a {
						text-transform: uppercase;

						&:hover {
							background: #DDD;
							color: #333;
						}
					}
				}
			}
		}

		.nav-helpers {
			display: none;
		}

		#personal-menu {
			&:before {
				content: "\f007";
				font-family: 'fontawesome-alloy';
				margin-right: 6px;
			}
		}

		#sign-in, #sign-out {
			color: lighten($colorHighlightInfo, 15%);

			&:before {
				content: "\f090";
				font-family: 'fontawesome-alloy';
				margin-right: 6px;
			}

			&:hover {
				background-color: $colorHighlightInfo;
				color: #EEEEEE;
			}
		}

		#sign-out {
			color: lighten($colorHighlightWarn, 10%);

			&:before {
				content: "\f08b";
			}

			&:hover {
				background-color: $colorHighlightWarn;
			}
		}
	}

	#sitesearch {
		display: table;

		.site-search-button {
			display: table-cell;
			background-color: #6A6A6A;
			padding: 4px 12px;
			color: #BBBBBB;
		}

		.site-search-button:hover {
			background-color: #FFFFFF;
			text-decoration: none;
		}

		.site-search-button:focus {
			text-decoration: none;
		}

		.site-search-form {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			overflow-x: hidden;
			@include single-transition(width 0.3s ease);

			.site-search-field {
				width: 100%;
				display: block;
				@include border-radius(0);
				margin: 0;
				font-size: 12px;
				line-height: 14px;
				padding: 8px;
				box-sizing: border-box;
				background: #616161;
				border: none;
				color: #BBBBBB;
				height: auto;
			}

			.site-search-field:focus {
				@include box-shadow(none);
			}
		}
	}
	
	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 600;
		
		.breadcrumb {
			background-color: $colorHudCrumbBackground;
			
			li a {
				color: $colorHudCrumbText;
				text-shadow: none;
			}
		}
		
	}
	
	
	#footer {
		bottom: 0;
    	padding-top: 5px;
    	width: 100%;
    	background-color: #555;
    	margin: 0 0 !important;
	}
	.social-icon {
  		list-style: none;
  		padding: 0;
  		margin: 0;
	}
	.social-icon li{
  		display: inline-block;
  		text-align: center;
  		margin-left: 0px !important;
	}
	.social-icon a {
		  display: block;
		  width: 44px;
		  height: 44px;
		  line-height: 44px;
		  border-radius: 50%;
		  margin-right: 5px;
	}
	.social-icon a {
	  background: rgba(255, 255, 255, 0.85); /* social icon background color */
	  color: #000; /* social icon color */
	}
	.social-icon a:hover {
  		background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  		color: #fff; /* social icon hover color */
	}
	.portlet {
		.portlet-topper {
			padding-left: 10px;

			.portlet-topper-toolbar {
				right: 7px;

				.caret {
					display: none;
				}
			}
			h1 {
				color: #555;
				font-size: 15px;
				margin: 0;
			}
		}
	}

	.portlet-dockbar {
		.navbar-inner {
			background: #FFFFFF;
			@include box-shadow(none);
		}

		.sign-out {
			display: none;
		}
		
		.dockbar-user-notifications {
			.user-notification-link {
				padding: 8px;
			}
			
			.user-notifications-count {
				margin: 0;
				color: #BBBBBB;
			}
		}
	}
	
}
			

